.btn-danhgia {
  background-color: #f7941d;
  color: white;
  border: none;
  padding: 6px 15px;
  float: right;
  margin-top: 20px;
}
.info-1sp {
  margin-top: 110px;
}
.info-danhgia input,textarea{
  /* margin-left: 150px; */
  /* margin-left: 18px; */
  width: 70%;
}
.info-danhgia input{
  margin: 10px 18px;
  height: 40px;
  border-radius: 5px;
  border:1px solid;
  opacity: 0.5;
}
.clearfix .carousel-item .thumb{
  width: 25%;
	cursor: pointer;
	float: left;
}
.clearfix .carousel-item .thumb img {
	width: 100%;
	margin: 2px;
}
.clearfix .carousel-item img {
	width: 100%;	
}